/***** css rules star selector + body *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/***** css rules for color *****/
.c-red {
    color: red;
}

.c-white {
    color: white;
}

.c-green {
    color: #4bc800;
}

/***** css rules for background-color *****/
.bgc-black {
    background-color: black;
}

/***** css rules hover *****/
.utility-btn button:hover {
    box-shadow: inset 0 0 0 50pc rgba(0, 0, 0, 0.5);
    cursor: pointer;
}