/***** css rules main *****/

main {
    height: calc(100vh - 17.5vh );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh 0.5vw;
    background-color: brown;
    margin: 5vh 5vw 2.5vh;
}

.image-wrapper {
    background-color: aquamarine;
    width: calc(100% / 7 - 0.5vw);
}

nav {
    height: 10vh;
    background-color: aqua;
}