/***** css rules main *****/

main {
    height: calc(100vh - 17.5vh );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh 0.5vw;
    margin: 5vh 5vw 2.5vh;
}

.image-wrapper {
    width: calc(100% / 7 - 0.5vw);
    background-image: url(https://picsum.photos/seed/picsum/500/450);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.image-wrapper p {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/***** css rules nav bar *****/
nav {
    height: 10vh;
    background-color: aqua;
}

