/***** css rules utility-btn *****/
.utility-btn {
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    display: flex;
    gap: 0 0.5vw;
}

.utility-btn button {
    background-color: #4a4a4a;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/***** css rules main *****/

main {
    height: calc(100vh - 7vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh 0.5vw;
    padding: 7vh 5vw 3.5vh;
    position: relative;
}

.image-wrapper {
    width: calc(100% / 7 - 0.5vw);
    background-image: url(https://picsum.photos/seed/picsum/500/450);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.image-wrapper p {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/***** css rules nav bar *****/
nav {
    height: 7vh;
    background-color: #222222;
    display: flex;
}

nav > * {
    width: calc(100% / 3);
}

.mic-vid, .useful-resources {
    display: flex;
}

.mic-vid > i ,.useful-resources > i{
    font-size: 0.5rem;
    line-height: 5vh;
}

.mic, .vid, .invite, .partecipants, .polling, .share, .chat, .record, .rooms, .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border: none;
    padding: 0  1vw;
}

.mic i, .vid i, .invite i, .partecipants i, .polling i, .share i, .chat i, .record i, .rooms i, .more i {
    font-size: 1.3rem;
    padding-bottom: 0.5vh;
}

.end {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.end > button {
    background-color: #222222;
    line-height: 5vh;
    border: none;
    padding: 0 1vw;
}